@use "variables" as *;

:root {

  --surface-0: #{$neutral-0};
  --surface-100: #{$neutral-100};
  --surface-200: #{$neutral-200};

  --surface-page: var(--surface-100);
  --surface-panel: var(--surface-0);

// Layout

  --header-height: 6rem;
  --sidebar-width: 18.75rem;
  --logo-width: 18.75rem;

  --sidebar-toggle-on-background: #{$primary};
  --sidebar-toggle-on-hover-background: #{$primary-emphasis};

// Nav

  --nav-background-active: #{$primary};
  --nav-background-active-hover: #{$primary-emphasis};
  --nav-background-hover: var(--surface-page);
  --nav-backgounrd-create-hover: #{$primary-emphasis};
  --nav-color: #{$text-secondary};
  --nav-color-active: var(--surface-page);
  --nav-color-create: #{$primary};
  --nav-theme-selector-background: var(--surface-page);

// Checkbox

  --checkbox-background: var(--surface-page);
  --checkbox-background-checked: #{$primary};
  --checkbox-background-disabled: #{$neutral-200};
  --checkbox-border-checked: #{$primary};
  --checkbox-border-disabled: #{$border-color};

// Subtask

  --subtask-background: var(--surface-page);
  --subtask-background-hover: #{$primary-not-emphasis};
  --subtask-background-checked: var(--surface-page);
  --subtask-background-checked-hover: #{$primary-not-emphasis};

// Button

  --btn-background-primary: #{$primary};
  --btn-background-hover-primary: #{$primary-emphasis};
  --btn-background-disabled-primary: #{$primary-not-emphasis};
  --btn-color-primary: var(--surface-page);

  --btn-background-secondary: #{$secondary-emphasis};
  --btn-background-hover-secondary: #{$secondary-emphasis};
  --btn-background-disabled-secondary: #{$secondary-not-emphasis};
  --btn-color-secondary: #{$primary};

  --btn-background-danger: #{$danger-emphasis};
  --btn-background-hover-danger: #{$danger-emphasis};
  --btn-background-disabled-danger: #{$danger-not-emphasis};
  --btn-color-danger: var(--surface-page);

// Inputs

  --input-border-color: #{$border-color};
  --input-border-color-active: #{$border-color-active};
  --input-border-color-error: #{$danger-emphasis};

// Switch Toggle

  --toggle-background: #{$primary};
  --toggle-background-checked: #{$primary};
  --toggle-knob-background: var(--surface-page);
  --toggle-height: #{$toggle-height};
}
