@use "variables" as *;

.text-body {
  font-family: $plus-jakarta-sans;
  font-size: $text-md;
  font-weight: $font-body;
  line-height: $line-lg;
}

.text-accent {
  font-weight: $font-bold;
  font-size: $text-sm;
  line-height: $line-sm;
}

.text-secondary-color {
  color: $text-secondary;
}

.heading-1 {
  font-weight: $font-bold;
  font-size: $text-2xl;
  line-height: $line-xl;
}

.heading-2 {
  font-weight: $font-bold;
  font-size: $text-xl;
  line-height: $line-lg;
}

.heading-3 {
  font-weight: $font-bold;
  font-size: $text-lg;
  line-height: $line-md;
}

.heading-4 {
  font-weight: $font-bold;
  font-size: $text-sm;
  line-height: $line-sm;
  letter-spacing: $kerning-lg;
  color: $text-secondary;
}

.error-message {
  color: $danger;
  font-weight: $font-bold;
  font-size: $text-sm;
  line-height: $line-sm;
}
