@use "mixins" as *;

.subtask {
  height: 2.5rem;
  background: var(--subtask-background);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: var(--font-bold);
  padding-inline: 1rem;

  @include hover {
    background: var(--subtask-background-hover);
  }

  .subtask-completed &-title {
    opacity: 0.5;
    text-decoration: line-through;
  }
}

.subtask-completed {
  background: var(--subtask-background-checked);

  @include hover {
    background: var(--subtask-background-checked-hover);
  }
}
