<div class="page" [class.sidebar-hidden]="!isSidebarShown()">

  <div class="logo-wrapper">
    <img
      [ngSrc]="'logo-dark.svg'"
      width="153"
      height="26"
      alt="vertical lines and the word Kanban"
      class="app-logo"
      [priority]="true"
    >
  </div>

  <app-header/>

  @if (isSidebarShown()) {
    <app-sidebar (hide)="hideSidebar()"/>
  }

  <app-board/>

</div>

@if (!isSidebarShown()) {
  <div class="sidebar-hidden-toggle" (click)="showSidebar()">

    <app-icon type="sidebar-show" theme="white"/>

  </div>
}
