@use "variables" as *;
@use "mixins";

input[type="checkbox"] {
  width: $checkbox-size;
  height: $checkbox-size;
  @include mixins.border($border-radius: $border-radius-sm);
  background: var(--checkbox-background);

  // Alignment of check inside checkbox
  display: grid;
  place-content: center;

  &:checked {
    border-color: var(--checkbox-border-checked);
    background: var(--checkbox-background-checked);

    &:before {
      transform: scale(1);
    }
  }

  &::before {
    content: "";
    transform: scale(0); // ensures the icon is hidden when unchecked even if disabled
    width: 10px;
    height: 8px;
    background: url('../../../public/icon-check.svg');
  }

  &:disabled {
    border-color: var(--checkbox-border-disabled);
    background: var(--checkbox-background-disabled);
    cursor: not-allowed;

    &::before {
      filter: invert(0.3); // makes the icon grey when disabled
    }
  }
}


