@use "mixins";
@use "variables" as *;

.btn {
  border-radius: $border-radius-pill; // for pill shape
  border: $btn-border;
  padding: $btn-padding; // guessing, could use refining
  font-weight: $btn-font-weight;
  width: 100%;

  // Modifier Classes

  &-disabled {
    cursor: not-allowed;
  }

  &-sm {
    padding: $btn-padding-sm;
  }

  // Theme Styles

  &-primary {
    background-color: var(--btn-background-primary);
    color: var(--btn-color-primary);

    @include mixins.hover {
      background-color: var(--btn-background-hover-primary);
    }

    &.btn-disabled {
    background: var(--btn-background-disabled-primary);
  }
  }

  &-secondary {
    background-color: var(--btn-background-secondary);
    color: var(--btn-color-secondary);

    @include mixins.hover {
      background-color: var(--btn-background-hover-secondary);
    }

    &.btn-disabled {
      background-color: var(--btn-background-disabled-secondary);
    }

  }

  &-danger {
    background-color: var(--btn-background-secondary);
    color: var(--btn-color-danger);

    @include mixins.hover {
      background-color: var(--btn-background-hover-danger);
    }

    &.btn-disabled {
      background-color: var(--btn-background-disabled-danger) ;
    }
  }

}

