
// 1. Abstracts
@use "../public/SCSS/normalise";
@use "../public/SCSS/variables";
@use "../public/SCSS/mixins";


// 2. Base styles
@use "../public/SCSS/fonts";
@use "../public/SCSS/typography";
@use "../public/SCSS/theme";
@use "../public/SCSS/theme-dark";





body {
  @extend .text-body;
  background: var(--surface-page);
}


/*
  Utility Classes - TODO: Put them into better more relevant files
*/

.rounded {
  border-radius: variables.$border-radius;
}

.border {
  @include mixins.border;
}

.sidebar-hidden {
  --sidebar-width: 0;
}
